<!DOCTYPE html>
<html lang='en'>
    <head>
        <title> About </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
       
    <body>
        <div class='jumbotron'>
            <div class='container'>
                <h1>Showing selected article</h1>
            </div>
        </div>
            <p> Title: <%=@article.title %></p>
            <p> Description: <%=@article.description %></p>
    </body>
</html>    