<!DOCTYPE html>
<html lang='en'>
    <head>
        <title> About </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
       
    <body>
        <div class='jumbotron'>
            <div class='container'>
                <div class='row'>
                    <div class='col-6'>
                        <%= link_to 'Home', root_path%>
                    </div>
                </div>
                <p>
                    More information about the alpha-blog content coming soon!!!!!
                </p>
            </div>
        </div>
    </body>
</html>