<div class = 'center jumbotron'>
    <p class = 'homepage'> <small>You made it! Thank you for stopping by, feel free to play around with the features. Hopefully nothing breaks :)</small></p>
    <%= link_to 'Dive In and Explore', signup_path, class: 'btn btn-danger btn-lg btn-xlarge' %>
</div>
