<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Home-AlphaBlog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
       
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-6'>
                    <%= link_to 'Alpha Blog', new_article_path %> | <%= link_to 'About', about_path%>
                </div>
                <div class='col-6'>
                    <h1>Rails Application</h1>
                </div>
            </div>
        </div>
        
        <img class = 'img-fluid' src= 'https://www.brsoftech.com/boot3/images/design_15/ruby-on-rails/ruby_banner.jpg'>
        
        <div class='container'>
            <div class ='row'>
                <div class='col'>
                    Text on the left side of the screen
                </div>
                <div class='col-6'>
                    
                </div>
                <div class ='col'>
                    Text on the right side of the screen
                </div>
            </div>
        </div>
    </body>
</html>