<div class="container">
    <footer class = 'footer'>
        <small>
            Copyright &copy; <a href="http://guides.rubyonrails.org/getting_started.html">RubyOnRails Guide</a> by <a href="https://www.github.com/Dewale">Adewale Adekoya</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>